<p>Estimado/a {{userName}},</p>

<p>Le informamos que su cuenta en ConectamosValencia ha sido desactivada.</p>

<p>Si considera que esto ha sido un error o desea m치s informaci칩n, por favor contacte con el equipo de administraci칩n.</p>

<p>Saludos cordiales,<br>
El equipo de ConectamosValencia</p>

<hr style="border: 1px solid #f0f0f0; margin: 20px 0;">

<p style="color: #666; font-size: 12px;">
    <em>Este es un mensaje autom치tico, por favor no responda a este email.</em>
</p>