<html>
  <head>
    <img height="53" width="162" src="https://conectamosvalencia.com/assets/img/logo-conectamosvalencia.png" alt="raito">
  </head>
<body>
  <div>
    {{{body}}}
  </div>
</body>
  <footer>
    <div>
      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-style:none;">
        <tbody>
          <tr>
            <td>
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;">ConectamosValencia</span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-size:11pt;font-family:Calibri,sans-serif;vertical-align:baseline;margin:0;">
              <span lang="es" style="font-size:9pt;"><a href="mailto:info@foundation29.org" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">info</span><span style="color:#0563C1;">@foundation29.org</span></a>
              </span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;"><a href="https://conectamosvalencia.com" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">conectamosvalencia.com</span></a></span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </footer>
</html>
